///* ========================================================================
//   #ALIASES
//   ======================================================================== */

$space-huge: $inuit-global-spacing-unit-huge; //96px
$space-large: $inuit-global-spacing-unit-large; //48px
$space-normal: $inuit-global-spacing-unit; //24px
$space-small: $inuit-global-spacing-unit-small; //12px
$space-Small: $inuit-global-spacing-unit-small; //8px
$space-tiny: $inuit-global-spacing-unit-tiny; //6px
$space-Tiny: 0.1875rem; //3px