.c-card__animal__link {
    color: $black;
}

.c-card__animal {
    background-color: $color-gray-light;
    border: 1px solid $color-gray-dark;
    padding: $space-small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-card__animal:hover {
    border: 1px solid $black;
}

.c-card__animal__arrow {
    transform: rotate(-90deg);
}

.c-card__animal__price {
    font-size: $font-size-Small;
    font-weight: $bold;
    text-transform: uppercase;
}

.c-card__header__title-resume {
    display: flex;
    font-size: $font-size-normal;
    text-transform: uppercase;
    font-weight: $bold;
    margin: $space-small 0 $space-tiny 0;
}
