///* ========================================================================
//   #COLORS
//   ======================================================================== */


// MOST USED COLORS
$color-primary: rgb(70, 82, 194);
$color-secondary: #EB6A6A;//Burnt Sienna


// INFO COLORS
$color-danger: #D11717;
$color-disabled: #8C8888;
$color-validate: #13D640;
$color-pending: #E89209;
$color-delete: #BF2431;
// $color-info-border: #DECCB5;


// COMMON COLORS
$color-gray-light: #F2F2F2;
$color-gray-medium: #E2E1E1;
$color-gray-dark: #707070;
$white: #FFFFFF;
$black: #1D1D1B;
$black-dark: #000000;

//PACKS AND FLAGS
$diamond: #A8FFFF;
$premium: #F4627D;
$starter: #8FFACF;
$option: #7EDED2;
$sponsored: #E6D550;
